<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trombin-o-clock</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1><a href="/"> Trombin-o-clock </a></h1>
    </header>
    <main>
      <h2>Ajout d'un étudiant</h2>
      <form action="" method="post">
        <label>Prénom <input type="text" name="" /> </label><br />
        <label>Nom <input type="text" name="" /> </label><br />

        <label
          >Promotion
          <select name="">
            <% for(const promo of locals.promos){ %>

            <option value="<%= promo.id %>"><%= promo.name %></option>
            <% } %>
          </select> </label
        ><br />

        <label>Pseudo Github <input type="text" name="" /> </label><br />
        <label>URL de l'image de profil <input type="text" name="" /> </label
        ><br />
        <button type="submit">Ajouter</button>
      </form>
    </main>

    <footer>a Moaï 2022 production</footer>
  </body>
</html>
