<%- include('partials/header') %>
<main>
  <a class="btn" href="/promos">Liste des promotions</a>
  <a class="btn" href="/admin/addStudent">Ajouter un étudiant</a>
</main>
<%- include('partials/footer') %>
